<nav th:fragment="header" class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="admin" class="nav-link">Главная страница</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Контакты</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li id="profile" class="nav-item align-self-center" style="cursor: initial; caret-color: transparent">
                <i class="fa-solid fa-user nav-icon"></i>
                <p class="d-inline ml-1 text-bold">
                    Администратор
                </p>
                <div class="logout">
                    <a th:href="@{/logout}">Выйти из аккаунта</a>
                </div>
            </li>



            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>

        </ul>

    <style>
        #profile {
            caret-color: transparent;
            cursor: pointer;
            margin-right: 20px;
            position: relative;
        }

        #profile > * {
            cursor: pointer;
        }

        #profile:hover {
            color: purple;
            transition: color 0.3s;
        }

        .logout {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: white;
            border: 1px solid gray;
            display: none;
            opacity: 0;
            transition: opacity 0.3s;
            padding: 5px;
            border-radius: 5px;
            font-size: 14px;
            width: 100%;
            text-align: center;
        }

        #profile:hover .logout, .logout:hover logout {
            display: block;
            opacity: 1;
        }
    </style>
    </nav>
<aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
        <a th:href="@{/admin}" class="brand-link">
            <img th:src="@{/images/logo-vilki-palki.png}" alt="AdminLTE Logo" class="rounded p-10 w-100 mx-auto d-block">
        </a>

        <div class="sidebar">


            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Поиск..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                    <!--Статистика-->
                    <li class="nav-item">
                        <a th:href="@{/admin}" class="nav-link">
                            <i class="nav-icon fa-solid fa-chart-simple"></i>
                            <p>
                                <span class="pl-2 h5">Статистика</span>
                            </p>
                        </a>
                    </li>
                    <!--Баннера-->
                    <li class="nav-item">
                        <a th:href="@{/admin/banners}" class="nav-link">
                            <i class="nav-icon fa-regular fa-image"></i>
                            <p>
                                <span class="pl-2 h5">Баннера</span>
                            </p>
                        </a>
                    </li>
                    <!--Пользователи-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                <span class="pl-2 h5">Пользователи</span>
                                <i name="turn" class="fas fa-angle-right text-yellow float-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/users}" class="nav-link">
                                    <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                                    <p>Список пользователей</p>
                                </a>
                            </li>
                            <li class="nav-item flex-row align-items-center">
                                <a th:href="@{/admin/users/add-user}" class="nav-link ml-2">
                                    <i class="fa-solid fa-plus"></i>
                                    <p class="ml-3">Добавить пользователя</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--Заказы-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                <span class="pl-2 h5">Заказы</span>
                                <i class="fas fa-angle-right text-yellow float-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/orders}" class="nav-link">
                                    <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                                    <p>Текущие заказы</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/orders/history}" class="nav-link">
                                    <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                                    <p>История заказов</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--Товары-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tree"></i>
                            <p>
                                <span class="pl-2 h5">Товары</span>
                                <i class="fas fa-angle-right text-yellow float-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/items}" class="nav-link">
                                    <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                                    <p>Все товары</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/items/ingredients}" class="nav-link">
                                    <i class="fa-solid fa-burger pl-2 mr-3"></i>
                                    <p>Ингредиенты</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/items/add-item}" class="nav-link">
                                    <i class="fa-solid fa-plus pl-2 mr-3"></i>
                                    <p>Добавить товар</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/items/add-category}" class="nav-link">
                                    <i class="fa-solid fa-plus pl-2 mr-3"></i>
                                    <p>Добавить категорию</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--SMM/Рассылка-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-brands fa-telegram"></i>
                            <p>
                                <span class="pl-2 h5">SMM/Рассылка</span>
                                <i class="fas fa-angle-right text-yellow float-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/sms}" class="nav-link">
                                    <i class="fa-solid fa-comment-sms nav-icon"></i>
                                    <p>SMS</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/email}" class="nav-link">
                                    <i class="fa-solid fa-envelope nav-icon"></i>
                                    <p>E-mail</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/telegram}" class="nav-link">
                                    <i class="fa-brands fa-telegram nav-icon"></i>
                                    <p>Telegram</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>

        <script>
        var list = document.getElementsByTagName('aside')[0]
                          .getElementsByTagName('nav')[0]
                          .getElementsByClassName('nav-item');

        console.log(list);

        for(i = 0; i < list.length; i++) {
          let nav_item = list[i];
          let turn_icon = nav_item.getElementsByTagName('i')[1];
          nav_item.addEventListener('click', function() {
            turn_icon.classList.toggle('turn-icon')

          })
        }

      </script>
        <style>

        .fa-angle-right {
          transition: transform .2s ease;
          transform: rotate(0);
        }

        .turn-icon {
          transform: rotateZ(90deg);
          transition: transform 0.2s;
        }

      </style>


    </aside>