<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>
<body>

    <nav th:insert="header-sidebar :: header"></nav>

    <!-- Main Sidebar Container -->
    <aside th:insert="header-sidebar :: sidebar"></aside>


      <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="plugins/jquery/jquery.min.js"></script>
      

  
</body>
</html>