<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Вилки Палки - Админка</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" th:href="@{/css/adminlte/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/css/items.css}">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">

  <nav th:insert="~{header-sidebar :: header}"></nav>
  <aside th:insert="~{header-sidebar :: sidebar}"></aside>

  <div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-bold text-blue text-maroon">Добавить категорию</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">

        <form method="post" th:object="${cat}" enctype="multipart/form-data">

          <span style="font-weight: bold; font-size: 24px; color: green; padding-bottom: 10px" th:text="${success_message}"></span>

          <div class="photo">
            <img th:src="${cat != null && cat.iconFileName != null && cat.iconFileName != ''} ?
            @{/images/categories/{id}/{url}(id=${cat.id}, url=${cat.iconFileName})} :
            @{/images/placeholder.jpg}" id="image_container" onclick="addPhoto()" alt="">
            <span class="add-photo">+ Добавить фото</span>
            <input type="file" name="picture" onchange="uploadPhoto(this)" accept="image/*" id="file_input" style="display: none;">
          </div>
          <br>
          <p>Название категории</p>
          <input type="text" th:value="${cat != null} ? ${cat.name} : 'NewCategory'" name="category_name" id="">
          <br>
          <br>
          <input type="submit" id="submit-button" value="+ Сохранить">
          <a th:if="${cat != null}" th:href="${cat.id} + '/delete'"><button id="delete-button" type="button">-   Удалить</button></a>

        </form>


      </div>
    </div>

    
    
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>




  <script>

    function addPhoto() {
      let input = document.getElementById('file_input');
      input.click();
    }

    function uploadPhoto(file_input) {
      let photo = file_input.files[0];
      let photo_path = URL.createObjectURL(photo);
      let image_container = document.getElementById('image_container');
      image_container.src = photo_path;
    }

  </script>


</div>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/adminlte.js}"></script>
<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/pages/dashboard3.js}"></script>



</body>
</html>
