<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Вилки Палки - Админка</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="items.css">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Главная страница</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Контакты</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item align-self-center" style="cursor: initial; caret-color: transparent">
        <i class="fa-solid fa-appUser nav-icon"></i>
        <p style="cursor: initial;" class="d-inline ml-1 text-bold">
          Администратор
        </p>
      </li>
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      
    </ul>
  </nav>

  <aside class=" main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
      <img src="logo-vilki-palki.png" alt="AdminLTE Logo" class="rounded p-10 w-100 mx-auto d-block">
    </a>

    <div class="sidebar">
      

      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Поиск..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          
          <!--Статистика-->
          <li class="nav-item">
            <a href="stats.html" class="nav-link">
              <i class="nav-icon fa-solid fa-chart-simple"></i>
              <p>
                <span class="pl-2 h5">Статистика</span>
              </p>
            </a>
          </li>
          <!--Баннера-->
          <li class="nav-item">
            <a href="banners.html" class="nav-link">
              <i class="nav-icon fa-regular fa-image"></i>
              <p>
                <span class="pl-2 h5">Баннера</span>
              </p>
            </a>
          </li>
          <!--Пользователи-->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-appUser"></i>
              <p>
                <span class="pl-2 h5">Пользователи</span>
                <i name="turn" class="fas fa-angle-right text-yellow float-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="userlist.html" class="nav-link">
                  <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                  <p>Список пользователей</p>
                </a>
              </li>
              <li class="nav-item flex-row align-items-center">
                <a href="user_edit.html" class="nav-link ml-2">
                  <i class="fa-solid fa-plus"></i>
                  <p class="ml-3">Добавить пользователя</p>
                </a>
              </li>              
            </ul>
          </li>
          <!--Заказы-->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                <span class="pl-2 h5">Заказы</span>
                <i class="fas fa-angle-right text-yellow float-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="orderlist.html" class="nav-link">
                  <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                  <p>Текущие заказы</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="orderlist.html" class="nav-link">
                  <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                  <p>История заказов</p>
                </a>
              </li>
              
            </ul>
          </li>
          <!--Товары-->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                <span class="pl-2 h5">Товары</span>
                <i class="fas fa-angle-right text-yellow float-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="all_items.html" class="nav-link">
                  <i class="far fa-sm fa-circle pl-2 mr-3"></i>
                  <p>Все товары</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="item_edit.html" class="nav-link">
                  <i class="fa-solid fa-plus pl-2 mr-3"></i>
                  <p>Добавить товар</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="add_category.html" class="nav-link">
                  <i class="fa-solid fa-plus pl-2 mr-3"></i>
                  <p>Добавить категорию</p>
                </a>
              </li>
              
            </ul>
          </li>
          <!--SMM/Рассылка-->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa-brands fa-telegram"></i>
              <p>
                <span class="pl-2 h5">SMM/Рассылка</span>
                <i class="fas fa-angle-right text-yellow float-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                  <i class="fa-solid fa-comment-sms nav-icon"></i>
                  <p>SMS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/tables/data.html" class="nav-link">
                  <i class="fa-solid fa-envelope nav-icon"></i>
                  <p>E-mail</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                  <i class="fa-brands fa-telegram nav-icon"></i>
                  <p>Telegram</p>
                </a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-bold text-blue text-maroon">Все товары</h1>
          </div>          
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">
        
        
        <div class="item_list">

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>

          <a href="item_edit.html" class="item">
            <img src="photo.jpg" alt="">
            <div>
              <p>Название блюда</p>
              <p class="bold">Цена</p>
              <hr class="divider">
              <p>Вес: </p>
              <p>Жиры: </p>
              <p>Углеводы: </p>
              <p>Белки: </p>
            </div>
          </a>


          

        </div>


      </div>
    </div>

    
    
  </div>



 

  
  <script>
    var list = document.getElementsByTagName('aside')[0]
                      .getElementsByTagName('nav')[0]
                      .getElementsByClassName('nav-item');
    
    console.log(list);

    for(i = 0; i < list.length; i++) {
      let nav_item = list[i];
      let turn_icon = nav_item.getElementsByTagName('i')[1];
      nav_item.addEventListener('click', function() {
        turn_icon.classList.toggle('turn-icon')
        
      })
    }

  </script>


  <style>
    
    .fa-angle-right {
      transition: transform .2s ease;
      transform: rotate(0);
    }
    
    .turn-icon {
      transform: rotateZ(90deg);
      transition: transform 0.2s;
    }
    
  </style>


</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

<script src="dist/js/pages/dashboard3.js"></script>
<script src="dist/js/adminlte.js"></script>

<script>
  $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
  });
</script>

</body>
</html>
