<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard 3</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="/css/fontawesome/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/adminlte/adminlte.min.css">
  <link rel="stylesheet" href="/css/items.css">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">

  <nav th:insert="~{header-sidebar :: header}"></nav>
  <aside th:insert="~{header-sidebar :: sidebar}"></aside>

  <div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-bold text-blue text-maroon">Все товары</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">

        <div class="categories">

          <div class="category" th:each="category : ${categories}" href="#" >
            <span style="display: none" th:text="${category.id}"></span>
            <img th:src="@{/images/categories/{id}/{name}(id=${category.id},name=${category.iconFileName})}" alt="">
            <p th:text="${category.name}"></p>
          </div>


        </div>


      </div>
    </div>



  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/adminlte.js"></script>
  <script src="/js/Chart.min.js"></script>
  <script src="/js/pages/dashboard3.js"></script>

  <script src="/js/items.js"></script>


  <script>
    var list = document.getElementsByTagName('aside')[0]
                      .getElementsByTagName('nav')[0]
                      .getElementsByClassName('nav-item');
    
    console.log(list);

    for(i = 0; i < list.length; i++) {
      let nav_item = list[i];
      let turn_icon = nav_item.getElementsByTagName('i')[1];
      nav_item.addEventListener('click', function() {
        turn_icon.classList.toggle('turn-icon')
        
      })
    };

  </script>

  <style>
    
    .fa-angle-right {
      transition: transform .2s ease;
      transform: rotate(0);
    }
    
    .turn-icon {
      transform: rotateZ(90deg);
      transition: transform 0.2s;
    }
    
  </style>

</div>


</body>
</html>
