<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Вилки Палки - Админка</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" th:href="@{/css/fontawesome/all.min.css}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" th:href="@{/css/adminlte/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/css/user-edit.css}">
  <link rel="stylesheet" th:href="@{/css/modal.css}">
  <script src="https://kit.fontawesome.com/c8bdb5141b.js" crossorigin="anonymous"></script>
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">

  <nav th:insert="~{header-sidebar :: header}"></nav>
  <aside th:insert="~{header-sidebar :: sidebar}"></aside>

  <div class="content-wrapper">

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-bold text-blue text-maroon">Редактировать товар</h1>
          </div>
          <div th:if="${item != null}" class="col-sm-6 delete-button">
            <a th:href="${item.id} + '/delete'"><button type="button">-   Удалить</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">

        <span style="font-weight: bold; font-size: 24px; color: green; margin-bottom: 10px" th:text="${success_message}"></span>
        <span style="font-weight: bold; font-size: 16px; color: red; margin-bottom: 10px" th:text="${fail_message}"></span>

        <form method="post" enctype="multipart/form-data" th:object="${item}">
        
        <div class="item-data">

          <div class="item-data-row">

            <div class="item-picture">
              <img th:src="${item != null && item.pictureFileName != null && item.pictureFileName != ''} ?
                   @{/images/{url}(url=${item.pictureFileName})} :
                   @{/images/placeholder.jpg}"
                   id="image_container" onclick="addPhoto()" alt="">
              <span class="add-photo">+ Добавить фото</span>
              <input type="file" accept="image/*" name="picture" id="file_input" onchange="showPhoto(this)" style="display: none">
            </div>

            <div class="item-description">
              <div class="item-description-row"><span>Имя</span><input type="text" name="name" th:value="${item.name}" id=""></div>
              <div class="item-description-row"><span>Цена</span><input type="text" th:value="${item.price}" name="price" id=""></div>
              <div class="item-description-row"><span>Жиры</span><input type="text" th:value="${item.fats}" name="fats" id=""></div>
              <div class="item-description-row"><span>Углеводы</span><input type="text" th:value="${item.carbons}" name="carbons" id=""></div>
              <div class="item-description-row"><span>Белки</span><input type="text" th:value="${item.proteins}" name="proteins" id=""></div>
              <div class="item-description-row"><span>Калории</span><input type="text" th:value="${item.calories}" name="calories" id=""></div>
              <div class="item-description-row"><span>Вес</span><input type="text" th:value="${item.weight}"  name="weight" id=""></div>

              <div class="item-description-row">
                <span>Категория</span>
                <select name="item_category" id="category">
                  <option th:each="category : ${categories}"
                          th:value="${category.name}"
                          th:text="${category.name}"
                          th:selected="${category.name.equalsIgnoreCase(item.category.name)}">
                  </option>
                </select>
              </div>
            </div>

          </div>

          <div class="description">
            <h4>Описание</h4>
            <textarea th:text="${item.description}" name="description" id="desc" cols="30" rows="10"></textarea>
          </div>

          <h4>Состав</h4>
          <div class="ingredients">
            <div class="plus">+</div>
            <div th:each="ingr : ${item_ingredients}" onclick="removeFromList(this)" class="ingredient">
              <img th:src="@{/images/ingredients/{icon}(icon=${ingr.icon})}" alt="" class="icon">
              <p th:text="${ingr.name}"></p>
              <input type="text" name="selected_ingredients" style="display: none;" th:value="${ingr.id}">
            </div>
          </div>

          <div class="submit-button">
            <a href="#"><button type="submit">+   Сохранить</button></a>
          </div>

        </div>

        </form>

        <div id="myModal" class="mod">

          <!-- Modal content -->
          <div class="mod-cont">
            <div class="mod-head">
              <h2 style="display: inline-block">Выбрать ингредиенты</h2>
              <span class="close">&times;</span>
            </div>
            <div class="mod-b">
              <div class="ingredient" onclick="addIngredient(this)"
                   th:each="ingr : ${ingredients}"
                   th:if="${!item_ingredients.contains(ingr)}">
                <img th:src="@{/images/ingredients/{icon}(icon=${ingr.icon})}" alt="" class="icon">
                <p th:text="${ingr.name}"></p>
                <input type="text" name="" style="display: none;" th:value="${ingr.id}">
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>



</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/adminlte.js}"></script>
<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/pages/dashboard3.js}"></script>
<script th:src="@{/js/modal2.js}"></script>


<script>

  function addPhoto() {
      let input = document.getElementById('file_input');
      input.click();
  }

  function showPhoto(file_input) {
    let photo = file_input.files[0];
    let photo_path = URL.createObjectURL(photo);
    let image_container = document.getElementById('image_container');
    image_container.src = photo_path;
  }

</script>


</body>
</html>
